<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ClassMapper" >
	<insert id="addClass" parameterType="com.example.demo.entity.Class">
		insert into d_class values(#{cla_id},#{cla_name},#{cla_department})
	</insert>
	<select id="selectClassById" parameterType="int" resultType="com.example.demo.entity.Class">
		select * from d_class where cla_id=#{cla_id}
	</select>
	<delete id="deleteClassById" parameterType="int">
		delete from d_class where cla_id=#{cla_id}
	</delete>
	<update id="updateClass" parameterType="com.example.demo.entity.Class">
		update d_class set cla_name=#{cla_name},cla_department=#{cla_department}
		where cla_id=#{cla_id}
	</update>

</mapper>